[user]
    email = nbaltunian@gmail.com
    name = Noah Altunian
[pull]
    rebase = false
[init]
    defaultBranch = master
[sendemail]
    smtpserver = smtp.gmail.com
    smtpuser = nbaltunian@gmail.com
    smtpencryption = tls
    smtpserverport = 587
    smtpPass = ""
